/* Stili generali di pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Whitney', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

/* Stili dell'Header */
header {
    /* DEBUG */
    background-color: #add8e6;
    min-height: 80px;
}

#navbar {
    padding: 20px 0;
}

nav {
    display: flex;
    line-height: 40px;
    font-size: 20px;   
    border: 2px dashed;   
}

nav.center {
    max-width: 65%;
    margin: 0 auto;

    /* DEBUG */
    background-color: #daa520;
}

.left-section {
    width: 20%;
    padding-left: 10px;
    border-right: 3px dashed;
}

.middle-section {
    width: 60%;
    text-align: center;
}

.right-section {
    width: 20%;
    text-align: right;
    padding-right: 10px;
    border-left: 3px dashed;
}

a {
    text-decoration: none;
    color: black;
}

#container-header {
    /* DEBUG */
    background-color: #00008b;
    min-height: 450px;
}

#text {
    
}

div.center {
    display: flex;
    border: 2px dashed; 
    background-color: #ee82ee;
    max-width: 55%;
    height: 350px;
    margin: 0 auto;
}







